@model IEnumerable<LMSMVC.Models.Status>

@{ ViewBag.Title = "Course Progress";
<link href="~/Content/Site.css" rel="stylesheet" /> }
<h2>CourseStatus</h2>
@using (Html.BeginForm("CourseStatus", "UserDetails", FormMethod.Get))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CourseID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseStatus)
    </td>
</tr>
}
</table>}

