@model IEnumerable<LMSMVC.Models.Approval>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
<link href="~/Content/Site.css" rel="stylesheet" /> }


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseApproval)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SNo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseApproval)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SNo }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SNo })
    </td>
</tr>
}

</table>
